<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770889539334-jvpcc7v1fumjh1rlcve05ff96883i2lb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770889539334-jvpcc7v1fumjh1rlcve05ff96883i2lb</string>
	<key>API_KEY</key>
	<string>AIzaSyCpJELKFqxh5vyJyDo-9kN8L6ywoYQg-W8</string>
	<key>GCM_SENDER_ID</key>
	<string>770889539334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instacopy2</string>
	<key>PROJECT_ID</key>
	<string>instacopy-2</string>
	<key>STORAGE_BUCKET</key>
	<string>instacopy-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770889539334:ios:66f32ddfe2e2f4d0e7c887</string>
</dict>
</plist>